body {
    display: block;
    margin: 0px;
}

ul {
    display: flex;
    flex-direction: column;
}

li {
    list-style-type: none;
}

html {
    scroll-behavior: smooth;
}

header {
    background-color: transparent;
    border: none;
    top: 0;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
}

#inputDiv {
    display: flex;
    margin-top: 10px;
    margin-left: 10px;
    align-items: center;
}

svg {
    width: 30px;
    height: 43px;
    margin-left: 12px;
    margin-right: 2px;
    opacity: .4;
}

path {

}

#regDiv {
    align-items: center;
    display: flex;
    margin-right: 20px;
}

#logo {
    width: 65px;
    height: 60px;
}

#logoDiv {
    margin-right: 16px;
}

.paneInput {
    border: none;
    width: 100%;
    background-color: white;
    opacity: .6;
}

.borderRadius {
    border-radius: 5px;
}

.position {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 700px;
}

input {
    font-size: 1.3rem;
    border: 0px;
    font-weight: 400;
    line-height: 1.5;
    padding: 5px;
    width: 100%;
    outline: none;
}

.switchButton {
    width: 12px;
    height: 12px;
    border-radius: 20px;
    border: 5px solid white;
    opacity: .3;
    -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;

}

.switchButton:hover {
    border: 5px solid white;
    opacity: .8;
}


#navigationPane {
    position: fixed;
    left: 20px;
    top: 50%;
    transform: translateY(-60%);
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.backgroundImagesSize {
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#page1 {
    background-image: url("images/catPicture1.jpg");
}

#page2 {
    background-image: url("images/catPicture2.jpg");
}

#page3 {
    background-image: url("images/catPicture3.jpg.jpg");
}

#page4 {
    background-image: url("images/catPicture4.jpg");
}

#page5 {
    background-image: url("images/catPicture5.jpg");
}

#page6 {
    background-image: url("images/catPicture6.jpg");
}

.hiddenNavigateValue {
    visibility: hidden;
}

.buttonSize {
    margin-right: 15px;
    line-height: 2.5;
    border-radius: 5px;
    padding: 1px 20px;
}

#buttonLogIn {
    background-color: darkorange;
    border-radius: 5px;
}
#buttonLogUp {
    background-color: yellowgreen;
}

a {
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    padding: 15px 15px;
    font-family: sans-serif;
    color: black;
}