body {
    display: block;
    margin: 0px;
}

ul {
    display: flex;
    flex-direction: column;
}

li {
    list-style-type: none;
}

html {
    scroll-behavior: smooth;
}

.SwetchButton {
    margin: 50%;
    width: 12px;
    height: 12px;
    border-radius: 20px;
    border: 5px solid #ece1e1;
    opacity: .3;
    -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;

}

.SwetchButton:hover {
    border: 5px solid white;
    opacity: .7;
}


#navigationPane {
    position: fixed;
    left: 20px;
    top: 50%;
    transform: translateY(-60%);
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.backgroundImagesSize {
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#page1 {
    background-image: url("imges/catPicture1.jpg");
}

#page2 {
    background-image: url("imges/catPicture2.jpg");
}

#page3 {
    background-image: url("imges/catPicture3.jpg.jpg");
}

#page4 {
    background-image: url("imges/catPicture4.jpg");
}

#page5 {
    background-image: url("imges/catPicture5.jpg");
}

#page6 {
    background-image: url("imges/catPicture6.jpg");
}

.hiddenNavigateValue {
    visibility: hidden;
}
